<% if obj.errors.any? %>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert alert-danger">
                <strong>
                <%= pluralize(obj.errors.count, "error") %>
                prohibited your profile from being save
                <ul>
                    <% obj.errors.full_messages.each do |error_msg| %>
                    <li><%= error_msg %></li>
                    <% end %>
                </ul>
                </strong>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
