<footer class="footer">
    <small>
        © Products 2021
    </small>

    <nav>
        <ul>
            <li><%= link_to 'Add New', new_product_path %></li>
            <li><%= link_to 'List', root_path %></li>
        </ul>
    </nav>
</footer>