<footer class="footer">
    <small>
        © Warehouse 2021
    </small>

    <nav>
        <ul>
            <li><%= link_to 'Products', root_path %></li>
            <li><%= link_to 'Criterias', criterias_path %></li>
        </ul>
    </nav>
</footer>